/* CSS declarations go here */
.restImg {
    width: 350px;
    height: 250px;
}

.restName {
    font-family: 'Enriqueta', serif;
    text-transform: capitalize;
}

.restContainer{
    margin-top: 20px;
    text-align: center;
}

.menuItem {
    font-family: "Hind", sans-serif;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.menuContainer{
    background-color: #cccccc;
    padding: 50px;
    margin-bottom: 20px;
}

.ingredients{
    opacity: 0.5;

}

.orderContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: white;
    border-bottom-color: black;
    border-width: thin;
}

.amount{
    margin-top: 20px;
}

.btnConfirm{
    background-color: #28a745;
    border-color: #28a745;
}