/* CSS declarations go here */

/*Home Page NavBar*/
body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
  }
  .pagination {
    margin-bottom: 15px;
  }
  
  
nav {
    margin: auto 100;
    padding-bottom: 3.5rem;
}

h1{
    text-align: center;
}

.detail{
    padding-top: 25px;
}

/*Imagen Jumbotron*/
.jumbotron{
    background-image: url("");
    background-size: cover; 
}


/*Login*/


/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin textarea[type= text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

/*Los de vargas*/
.restImg {
    width: 350px;
    height: 250px;
}

.restName {
    font-family: 'Enriqueta', serif;
    text-transform: capitalize;
    color: black;
    text-decoration: underline;
}

.restContainer{
    margin-top: 20px;
    text-align: center;
}

.menuItem {
    font-family: "Hind", sans-serif;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.menuContainer{
    background-color: #cccccc;
    padding: 50px;
    margin-bottom: 20px;
}

.ingredients{
    opacity: 0.5;

}

.order{
    margin-bottom: 20px;
}

.orderContainer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: white;
    border-bottom-color: black;
    border-width: thin;
}

.amount{
    margin-top: 20px;
}

.btnConfirm{
    background-color: #28a745;
    border-color: #28a745;
}

.containerProgress {
    width: 100%;
  }
  
  .progressbar {
    counter-reset: step;
  }
  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 30.33%;
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    border: 1px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }
  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index : -1;
  }
  .progressbar li:first-child:after {
    content: none;
  }
  .progressbar li.active {
    color: green;
  }
  .progressbar li.active:before {
    border-color: green;
  } 
  .progressbar li.active + li:after {
    background-color: green;
  }

  .row {
    border-bottom-color: black;
  }
  .pad{
      padding-bottom: 10px;
  }

  .padUp{
      padding-top: 35px;
  }

  .padLeft{
      padding-left: 16px;
  }
  .padl{
      padding-left: 20px;
  }

  .wid{
      width: 40px;
  }

  .car1{
    background-image: url('http://placehold.it/1900x1080');
  }
  .car2{
    background-image: url('http://placehold.it/1900x1080');

  }
  .car3{
    background-image: url('http://placehold.it/1900x1080');
  }

  .carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .portfolio-item {
    margin-bottom: 30px;
  }

  .myImg{
      
  
  }

  .jumbotron {
    /* Image in the center of container */
   
    /*  OR Image in the center top of the container */
    /*  OR Image in the center bottom of the container  */
    background-size: cover;
    height:450px;
}

.navbar, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td, button, input, select, textarea{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    font-weight: 300;
}

.navbar-toggle {
    outline: 0 !important;
  }
  .navbar .navbar-brand {
    font-weight: 600;
    margin: 5px 0px;
    padding: 20px 15px;
    font-size: 14px;
    color: #66615B;
    text-transform: uppercase;
}

.navbar {
    border: 0;
    font-size: 14px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    padding: 0;
    background: #ffff ;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    height: 60px;

}
.navbar .navbar-nav .nav-item .nav-link {
    line-height: 1.6;
    margin: 15px 3px;
    padding: 10px 15px;
    opacity: .8;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #66615B;

}

.page-header {
    background-image: url("https://images.pexels.com/photos/61143/pexels-photo-61143.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-color: #B2AFAB;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}
body {
    color: #66615b;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}